:root {
  --cultured: hsl(210, 17%, 98%);
  --cultured-2: hsl(210, 16%, 93%);
  --gainsboro: hsl(210, 14%, 89%);
  --light-gray: hsl(210, 14%, 83%);
  --cadet-blue-crayola: hsl(210, 11%, 71%);
  --sonic-silver: hsl(208, 7%, 46%);
  --davys-grey: hsl(210, 9%, 31%);
  --onyx: hsl(210, 10%, 23%);
  --eerie-black: hsl(210, 11%, 15%);
}

#app {
  display: grid;
  place-content: center;
  min-height: 100vh; /*100 percent of window */
}

.calculator-button-container {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.calculator-button {
  border-width: 1px;
  border-color: var(--cadet-blue-crayola);
  border-style: solid;
  padding: 20px;
  text-align: center;
  border-radius: 3px;
  background-color: var(--cultured-2);
  transition: background-color 150ms;
}

.calculator-button:hover {
  background-color: var(--gainsboro);
}

.calculator-button:active {
  background-color: var(--sonic-silver);
}

.calculator-button:focus-visible {
  outline: 1px solid var(--cadet-blue-crayola);
  outline-offset: 3px;
}
.double-column {
  grid-column: span 2;
}

.double-row {
  grid-row: span 2;
}

/*Focus and active Learn and apply */
